pandana==0.7
numpy==1.26.4
osmnet==0.1.7
matplotlib==3.10.8
osmium==4.3.0
shapely==2.1.2
geopandas==1.1.2
pyrosm==0.6.2
folium==0.20.0
mapclassify==2.8.1
osmnx==2.0.7
geopy==2.4.1
pygeohash==3.2.2
sqlalchemy==2.0.47
psycopg2==2.9.11
GeoAlchemy2==0.18.3
python-dotenv==1.1.1