dagster==1.12.17
httpx==0.28.1
pandana==0.7
numpy==1.26.4
osmium==4.3.0
shapely==2.1.2
pygeohash==3.2.2
geopandas==1.1.2
psycopg2-binary==2.9.11
GeoAlchemy2==0.18.4
dagster
dagster-postgres
dagster-docker